        body {
            font-family:Arial, Helvetica, sans-serif;
            margin:auto;
            padding: 0;
            box-sizing: border-box;
        }
        header {
            background-color :  #670101;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .navmenu {
            display: flex;
           list-style: none;
        }

        .nav-item{
            margin-left: 1rem;
            color: red;
            transition: 0.5s;
        }
        
       .nav-item a{
            font-family: Arial, sans-serif;
            text-decoration: none;
            color: white;
            font-size: 1.1rem;
            font-weight: 400;
        }

    

        .container {
            width: 90vw;
            margin: 2rem auto;
        }

        .hero {
            background:no-repeat center center/cover;
            background-color: white;
            text-align: center;
            padding: 100px 20px;
        }
    
        .promociones {
            text-align: center;
            padding: 50px 20px;
        }
        .promo-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .promo-item img {
            width: 100%;
            max-width: 275px;
            border-radius: 10px;
        }


        .eventos-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }
        
        .eventos-item img {
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
        }


        .suscripcion {

            background-color: beige;
            justify-items: center;
            padding: 4rem 1rem; 
            }
            
            #suscripcion h5 {
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }
            
     .form-reserva {
                font-family: 'Times New Roman', Times, serif;
                display: grid;
                gap: 1rem;
                background-color: #ffffff;
                width: 35%;
                height: 60vh;
                padding: 2rem;
                border-radius: 1rem;
            }

     .form-reserva img {
        width: 100%;
        height: 70%;
     }

          

        footer p {
          background-color:  #f90707;
          }


        @media (max-width: 768px) {
            body {
                width: 120%;
            }
        }

        @media (max-width: 540px) {
            body {
                width: 140%;
            }
        }

        @media (max-width: 426px) {
            body {
                width: 162%;
            }
            .eventos-item img {
                width: 10%;
            }
        }

        
        @media (max-width: 360px) {
            body {
                width: 178%;
            }
        }